@import "~bootstrap/scss/bootstrap.scss";



.img{
    height:140px;
    width:200px
}


.navbar{
    width:100%;
    margin:0;
    background:black;
    color:white !important;
    height:150px;
}


.logo li{
    display:inline;
    margin-left:6px;
}


.logo{
    padding:0px;
    margin:0px;
}

.planetCards{
    display: flex;
    height:300px;
    width:2000px;
    margin:8px;
    margin-bottom:10px;
}

.charCards{
    display: flex;
    height:300px;
    width:2000px;
    margin:8px;
    margin-bottom:10px;
    overflow:auto;
    white-space:nowrap;
}

.nf{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color:rgb(192, 0, 0);
}

.link{
    padding:4px;
    font-size: 40px;
}

.link:hover{
    color:rgb(200, 200, 200);
}

.link:active{
    color:white;
}

.search{
    padding:10px;
}